.gradle/
build/
/Kurssistatistiikka/.nb-gradle/
/HelloCucumber/.nb-gradle/
/LoginCucumber/.nb-gradle/
/WebLogin/.nb-gradle/
/MockitoDemo/.nb-gradle/
/MatkakorttiMockito/.nb-gradle/
/VerkkokauppaSpring/.nb-gradle/
/IntJoukkoSovellus/.nb-gradle/